<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form>
     <label for="teamname">Team Name: </label>
     <input type="text" name="teamname" id="teamname">

     <input type="text" name="coach">
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
